body{
    background-color: rgb(88, 202, 247);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 70px;
    text-align: center;
}

h2{
    font-size: 35px;
    text-align: center;
}

p{
    font-size: 23px;
    text-align: center;
}

hr{
    background-color: black;
    height: 1px;
    border: none;
}

.cidade{
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prog{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}